* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: auto;
    }

body {
    background: #777;
    width: 960px;    
}

header, nav, footer {
    background: #ebebeb;
    color: #777;
    /*a line-height larger than the font-size will center single-line text*/
    line-height: 40px;
    margin: 10px 30px 15px 30px;
    padding: 20px;
}

section {
    background: #ebebeb;
    color: #777;
    float: left;
    width: 495px;
    line-height: 50px;
    margin: 15px 0px 15px 30px;
    padding: 10px;
}

aside {
    background: #ebebeb;
    color: #777;
    float: right;
    width: 322px;
    margin: 15px 30px 10px 0px;
    height: 222px;
    padding: 20px;
}


article {
    background: #777;
    color: #ebebeb;
    padding-bottom: 10px;
}

.clear {
    clear: both;
}

h1, h2, h3, p {
    background: #ebebeb;
    color: #777;
    margin: 10px 20px 10px 20px;
}